<img class="poster" src="{{filmeDetalhado.Poster}}"><br>
{{filmeDetalhado.Title}}<br>
{{filmeDetalhado.Year}}<br>
{{filmeDetalhado.Rated}}<br>
{{filmeDetalhado.Released}}<br>
{{filmeDetalhado.Runtime}}<br>
{{filmeDetalhado.Genre}}<br>
{{filmeDetalhado.Director}}<br>
{{filmeDetalhado.Writer}}<br>
{{filmeDetalhado.Actors}}<br>
{{filmeDetalhado.Plot}}<br>
{{filmeDetalhado.Language}}<br>
{{filmeDetalhado.Country}}<br>
{{filmeDetalhado.Awards}}<br>
{{filmeDetalhado.Metascore}}<br>
{{filmeDetalhado.imdbRating}}<br>
{{filmeDetalhado.imdbVotes}}<br>
{{filmeDetalhado.imdbID}}<br>
{{filmeDetalhado.Type}}<br>
{{filmeDetalhado.DVD}}<br>
{{filmeDetalhado.BoxOffice}}<br>
{{filmeDetalhado.Production}}<br>
{{filmeDetalhado.Website}}<br>
{{filmeDetalhado.Response}}<br>